*

header{
    height: 80px;
    background-color: #333;
    color: white;
    text-align: center;
}

section{
    border: 2px solid black;
    margin: 20px 0px;
    padding:40px ;
    background-color: rgb(218, 43, 165);
}

ul{
    list-style: square;
    margin-top: 10px;
    color: aqua;
}

li:hover{
    color: rgb(57, 209, 11);
    background-color: blueviolet;
    cursor: pointer;
}

footer{
    background-color: #333;
    color: white;
    height: 60px;
    text-align: center;
}